html {
  font-size: 20px;
  text-align: center
}
body {
  font-family:"Ariel", "Mayryo", sans-serif 
}
#parent p{
  font-weight: bold;
}
.h2_blue {
  color: skyblue;
}
.h2_pink {
  color: rgb(255, 192, 203);
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 4px gray;
  margin-bottom: 0;
  border-bottom: solid;
  border-bottom-color: rgb(115,115,114);
}

h1 span1{
  color: skyblue;
}
h1 span2{
  color: pink;
}
